<!-- <% for(let x = 0; x < songs.length; x++){ %>
<tr>
  <td><%= x+1 %></td>
  <td><img src="<%= songs[x].coverImage %>" alt="photo" /></td>
  <td><%= songs[x].artist %></td>
  <td><%= songs[x].title %></td>
  <td>2020</td>
  <td>
    <a href="/update-song">
      <i class="fa-solid fa-pen white btn-update btn-action"></i>
    </a>
  </td>
  <td>
    <i class="fa-solid fa-trash-can red btn-delete btn-action"></i>
  </td>
</tr>
<% } %> -->
<!-- <div class="list-item">
    <span class="item-num"><%= x+1 %></span>
    <div class="item-image-div">
      <img
        src=""
        alt="cover-image"
        class="item-image"
      />
    </div>
    <div class="item-info">
      <span class="item-title white"><%= songs[x].title %></span>
      <span class="item-artist white"><%= songs[x].artist %></span>
      <span class="item-year white"><%= songs[x].year %></span>
    </div>
    <div class="item-actions">
      <a href="/update-song">
        <i class="fa-solid fa-pen white btn-update btn-action"></i>
      </a>
      <a>
        <i class="fa-solid fa-trash-can red btn-delete btn-action"></i>
      </a>
    </div>
  </div> -->

